<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground</title>
</head>
<body>
    <div id="wrapper" style="width:975px;margin:auto">
        <div>
            <h1 style="text-align: center">Welcome!</h1>
        </div>
        <div style="display: flex;flex-flow: row wrap;justify-content: flex-start;gap: 40px">
            {% for x in range(0,times): %}
                <div style="width: 30%;height:250px;background-color:{{text_color}}">&nbsp;</div>
            {% endfor %}
    </div>
</body>
</html>